{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript">
		window.admin_sortable2 = {
			update_url: '{{ sortable_update_url }}',
			current_page: {{ cl.page_num | add:'1' }},
			total_pages: {{ cl.paginator.num_pages }}
		};
	</script>
{% endblock %}

{% block object-tools-items %}
    {% if not is_popup and has_add_permission and has_change_permission %}
        <li><a href="{% url opts|admin_urlname:'recoverlist' %}" class="recoverlink">{% blocktrans with cl.opts.verbose_name_plural|escape as name %}Recover deleted {{name}}{% endblocktrans %}</a></li>
    {% endif %}
    {{block.super}}
{% endblock %}
